---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<h2>Work in Progress</h2><hr />
<ul>
  <li><em>The Reason for M&amp;As and its Impact on Deal Valuation (with Debarshi Nandy and Shubhranshu Shekhar)</em></li>
  <li><em>The LLM Oracle Fallacy in Finance (with Debarshi Nandy and Shubhranshu Shekhar)</em></li>
  <li><em>The Value of Disruptive Innovation (with Debarshi Nandy)</em></li>
  <li><em>Home Grown versus Sourced Innovation: A view from M&amp;As (with Debarshi Nandy)</em></li>
</ul>
