---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Teaching Assistantships</h2>

<ul>
  <li><strong>Econ 135: Industrial Organization</strong>, Brandeis University — Fall 2025</li>
  <li><strong>HS 405: Applied Econometrics</strong>, Brandeis University — Spring 2025</li>
  <li><strong>Fin 240: Venture Capital and Entrepreneurial Finance</strong>, Brandeis University — Fall 2023, Fall 2024, Fall 2025</li>
  <li><strong>Fin 254: Modern Finance, Fintech and Beyond</strong>, Brandeis University — Spring 2023</li>
</ul>
